page-forgot-password {
    img.logo {
        width: 60%;
        margin-bottom: 4rem;    
    }      
    .main-bg .transparent .item-inner {
        border-bottom: 1px solid #AFAFAF;
    } 
    .item-input .label {
        color: #000;
        font-size: 1.4rem;
        line-height: 0px;
    }         
    .signin-btn {
        margin: 4rem 0rem 8rem;
    }    
    .text-purple {
        margin-right: 1rem;
    }        
    img.hand_img {
        width: 20px;
        margin-left: 10px;
    }        
    button.purple_btn {
        min-height: 4.4rem;
    }
}
