page-payment {
    h6.italic .icon {
        color: #7DE407;
    }
    .details_list{
        background-image: url(../assets/img/curve_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 17px 35px;
        margin-bottom: 5rem;
    }
    button.purple_bg {
        width: 95%;
    }
    button.purple_bg .icon {
        margin-left: 5px;
    }
    .card_field label {
        color: #494343;
    }
    .card_field input {
        width: 100%;
        height: 35px;
        border: 1px solid #d9d9d9;
        margin: 8px 0px 20px 0px;
        border-radius: 5px;
        padding: 7px 10px;
        font-size: 1.2rem;
        color: #959595;
    }
    .halfsize_field {
        width: 48%;
        float: left;
        margin-right: 2%;
    }
    .card_field {
        margin-top: 3rem;
    }
    .signin-btn button.purple_bg {
        width: 100%;
        min-height: 4.3rem;
    }
    button.purple_bg.paypal {
        background: #AD7DA3;
    }
    .card_input input {
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 3% 50%;
        background-image: url(../assets/img/credit-card.png);
        padding: 7px 10px 7px 35px;
    }
  .pay-now{
    position: absolute;
    bottom: 0;
    width: 80%;
  }
}
