page-chat-list {
    .main-bg .item {
        background: transparent;
    }
    .item ion-avatar ion-img, .item ion-avatar img{
        height: 35pt;
        width: 35pt;
    }      
    .smallest-text {
        margin: 0px;
        font-size: 1rem;
    }    
    .item-inner {
        align-items: initial;
        padding-top: 8px;
    }    
    .text-grey {
        font-style: italic;
    }
}
