<ion-header class="top-header">
  <ion-navbar>
    <ion-buttons no-margin left class="drover_icn">
      <button no-margin ion-button icon-only menuToggle>
        <img src="assets/img/menu_icon.png">
      </button>
    </ion-buttons>
    <ion-title text-center>My History</ion-title>
    <ion-buttons right class="notification_icn" (click)="notification()">
      <button ion-button icon-only light class="text-white">
        <img src="assets/img/notifications.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content margin-top class="cancel_list driver_list main-bg">
  <div text-center margin-top class="bold big-text" *ngIf="isListEmpty">No completed history data are available</div>
  <div *ngIf="!isListEmpty">
    <ion-list>
      <div *ngFor="let item of historyList" class="history_list">
      <ion-row>
        <ion-col col-2 no-padding>
          <ion-thumbnail>
            <img src="assets/img/dummy_pic.png">
          </ion-thumbnail>
        </ion-col>
        <ion-col col-10 no-padding>
          <ion-item class="btn_box">
            <h2 item-start>Date : {{item.pick_date}}</h2>
            <span item-end class="medium-bold">Time Left :  {{item.time_left}}</span>
          </ion-item>
          <div text-wrap padding-left class="pickup_location">
            <span style="width: 70%;" item-start>Pickup Location : <b>{{item.pick_location}}</b></span>
            <span item-end class="text-yellow medium-text">{{item.amount}}$<br>
              <span item-end class="text-yellow">{{item.payment_type}} Payment</span></span>
          </div>

          <div text-wrap padding-left class="Drop_location">
            <span style="width: 70%;" item-start>Drop Location : <b>{{item.drop_location}}</b></span>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </ion-list>
  </div>
</ion-content>
