page-tow-list {     
    .tracking_content {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 999;
    }
    .location_box{
        padding: 0px 15px;
    }        
    input.Vehicle_no.text-black {    
        border: none;
        width: 100%;
    }
    button.purple_bg {
        min-height:4.7rem;
    }
    .location_box img, .location_box ion-thumbnail {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
    }
    .location_box{
        background-image: url(../assets/img/white_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 20px 20px 0px 20px;
    }
    .medium-bold h2 {
        font-weight: 500;
        font-size: 1.7rem;
    }
}
