page-my-history {
    .driver_list .button {
        font-size: 1rem;
        font-weight: normal;
        text-transform: capitalize;
        padding: 10px 18px;
        margin: 0px 0px 0px 8px;
    }    
    .Chatnow_btn {
        background: #0099FF;
    }
    .tracking_btn{
        background: #12A22A;
    }    
    .driver_pic img{
        width: 65px;
    }
    .driver_list .item-block .item-inner {
        padding: 0px;
    }
    .driver_list h2 {
        font-size: 1.2rem;
        font-weight: 500;
        padding-top: 2px;
    }
    .driver_list span{
        font-size: 1rem;
    }    
    .driver_list .item {
        min-height: inherit;
        padding-right: 10px;
    }
    .driver_list .item.btn_box {
        min-height: inherit;
        padding: 0px 0px 10px 16px;
    }
    .driver_list .label-md {
        margin: 3px 0px;
    }    
    .driver_list .item span, .driver_list .item.btn_box h2 {
        margin: 0px 8px 6px 0;
    }
    .driver_list .card .item span {
        font-size: 0.8rem;
        margin: 0px;
    }   
    .history_list {
        background-image: url(../assets/img/white_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 20px 30px;
    }
}   
