page-signup {
    img.logo {
        width: 60%;
        margin: 4rem 0rem;
    }
    .main-bg .transparent .item-inner {
        border-bottom: 1px solid #AFAFAF;
    }
    .item-input .label {
        color: #000;
        font-size: 1.4rem;
        line-height: 0px;
    }
    .signin-btn {
        margin: 4rem 0rem 0rem;
    }
    .text-purple {
        margin-right: 1rem;
    }
    img.hand_img {
        width: 20px;
        margin-left: 5px;
    }
    button.purple_btn {
        min-height: 4.4rem;
    }
  .bottom-div{
    margin: 40pt;
  }
}
